.login {
    width: 400px;
    background: #c5fff8;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 10 / 64%), 0 8px 16px rgb(0 10 0 / 34%);
    border-radius: 20px;
    padding: 1rem;
    align-items: center;
    text-align: center;
}

.login > form input {
    border-radius: 2px;
    border: 2px solid rgb(0, 0, 0);
    outline: none;
    color: #1d2129;
    margin: 2% 0;
    width: 90%;
    padding: 12px;
    font-size: 16px;
}

.login > form button {
    border-radius: 20px;
    border: none;
    box-shadow: 2px 4px #dddfe2;
    background-color:#7B66FF;
    color: white;
    padding: 12px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login > form button:hover {
    background-color: #3366cc;
    font-size: 20px; 
    font-style: italic;
    color: #ee0404;
}
